Repository ungdinhhuong/list-ai: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_fe, build_be, deploy_fe_dev, deploy_be_dev

build_fe:
  stage: build
  script:
  - docker build -t $IMAGE_TAG_FE ./frontend
  - docker push $IMAGE_TAG_FE

build_be:
  stage: build
  script:
  - docker build -t $IMAGE_TAG_BE ./backend
  - docker push $IMAGE_TAG_BE

deploy_fe_dev:
  stage: deploy
  environment:
    name: dev
  script:
  ...

deploy_be_dev:
  stage: deploy
  environment:
    name: dev
  script:
  ...

feat: add da ngon ngu
  backend/docker-compose.dev.yml
  frontend/.prettierrc
  frontend/eslint.config.mjs
  frontend/messages/en.json
  frontend/messages/vi.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/ai/[slug]/page.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/components/ai/AIDetailClient.tsx
  frontend/src/components/home/HeroSection.tsx
  frontend/src/components/layout/FooterSimple.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/section/AllToolsSection.tsx
  frontend/src/components/section/FeaturedToolsSection.tsx
  frontend/src/components/section/newsletter/NewsletterImage.tsx
  frontend/src/components/section/newsletter/NewsletterSimple.tsx
  frontend/src/components/shared/mode-toggle.tsx
Due: build_fe, build_be, deploy_fe_dev, deploy_be_dev

feat: update language
  frontend/messages/en.json
  frontend/messages/vi.json
  frontend/public/ontoolaz_logo.png
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/ToolCard.tsx
  frontend/src/components/ai/AIDetailClient.tsx
  frontend/src/components/category/CategoryPageClient.tsx
  frontend/src/components/home/HeroSection.tsx
  frontend/src/components/home/HomePageClient.tsx
  frontend/src/components/home/SearchBar.tsx
  frontend/src/components/layout/FooterSimple.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/section/FeaturedToolsSection.tsx
  frontend/src/components/section/newsletter/NewsletterImage.tsx
  frontend/src/components/section/newsletter/NewsletterSimple.tsx
Due: none

feat: updaste cicd strapi health
  backend/config/middlewares.ts
  backend/src/middlewares/health.ts
  readme.md
Due: none

feat: add hash commit
  .gitlab-ci.yml
Due: none

feat: update cicd
  .gitlab-ci.yml
  frontend/Dockerfile
  frontend/docker-compose.dev.yml
Due: build_fe, deploy_fe_dev

feat: update cicd
  .gitlab-ci.yml
Due: none

feat: update cicd force
  .gitlab-ci.yml
Due: none

feat: update cicd build
  .gitlab-ci.yml
Due: none

feat: update cicd build npm
  frontend/Dockerfile
Due: build_fe, deploy_fe_dev

feat: update cicd debug
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
Due: build_fe, deploy_fe_dev

feat: update cicd debug
  frontend/Dockerfile
Due: build_fe, deploy_fe_dev

feat: update cicd debug
  frontend/eslint.config.mjs
  frontend/src/app/[locale]/ai/[slug]/page.tsx
  frontend/src/app/[locale]/category/[slug]/page.tsx
Due: build_fe, deploy_fe_dev

feat: update next config
  frontend/next.config.ts
Due: build_fe, deploy_fe_dev

feat: update axios config
  frontend/src/lib/axiosClient.tsx
Due: none

feat: dockerfile add curl fe
  frontend/Dockerfile
Due: build_fe, deploy_fe_dev

fix: update site key
  frontend/docker-compose.prod.yml
  frontend/src/components/section/newsletter/NewsletterImage.tsx
  frontend/src/components/section/newsletter/NewsletterSimple.tsx
  frontend/src/constants/env.ts
Due: build_fe, deploy_fe_dev

fix: update site key
  frontend/src/components/section/newsletter/NewsletterImage.tsx
  frontend/src/components/section/newsletter/NewsletterSimple.tsx
Due: none

fix: update site key
  frontend/src/components/section/newsletter/NewsletterImage.tsx
Due: none

refactor: update cicd
  .gitlab-ci.yml
  frontend/src/app/[locale]/layout.tsx
  frontend/src/app/[locale]/page.tsx
Due: none

refactor: update domain
  frontend/next.config.ts
  frontend/src/components/common/AvatarLogo.tsx
  frontend/src/components/home/SearchBar.tsx
Due: build_fe, deploy_fe_dev

refactor: edit link image
  frontend/src/components/common/AvatarLogo.tsx
  frontend/src/components/home/SearchBar.tsx
Due: none

fix: update language
  frontend/src/components/common/NoTranslationMessage.tsx
Due: none

refactor: update schema
  backend/src/api/category/content-types/category/schema.json
  backend/src/api/policy-page/content-types/policy-page/schema.json
  backend/src/api/site-setting/content-types/site-setting/schema.json
  backend/src/api/tool/content-types/tool/schema.json
  backend/types/generated/contentTypes.d.ts
  frontend/src/components/ai/AIDetailClient.tsx
Due: none

refactor: update gitlab
  .gitlab-ci.gitlab.yml
Due: none

refactor: update gitlab
  .gitlab-ci.yml
Due: none

refactor: update logo
  .gitlab-ci.yml
  backend/src/api/site-setting/content-types/site-setting/schema.json
Due: none

refactor: update logo
  backend/types/generated/contentTypes.d.ts
Due: none

refactor: update logo
  .gitlab-ci.yml
Due: none

refactor: update cicd
  .gitlab-ci.yml
Due: none

fix: fix locale
  frontend/src/lib/apiRequest.ts
Due: none

fix: draf and publish
  backend/src/api/category/content-types/category/schema.json
  backend/src/api/home-page/content-types/home-page/schema.json
  backend/src/api/policy-page/content-types/policy-page/schema.json
  backend/src/api/tool-content/content-types/tool-content/schema.json
  backend/src/api/tool/content-types/tool/schema.json
  backend/types/generated/contentTypes.d.ts
Due: none

Path conditions:
  build_fe: any of: frontend/**
  build_be: any of: backend/**
  deploy_fe_dev: any of: frontend/**
  deploy_be_dev: any of: backend/**
